{% extends 'base.html' %}
{% block title %}Weather App{% endblock %}
{% block content %}
      <div class="container h-200">
          <div class="row justify-content-center">
              <div class="col-md-4 pt-5">
                <form method="POST" class="card border-primary mb-3 p-3 shadow-sm">
                  <div class="form-group">
                    <input class="form-control" name= "city" type="text" placeholder="Enter City"/>
                  </div>
                  <div class="form-group">
                    <input class="form-control" name= "country" type="text" placeholder="Enter Country"/>
                  </div>
                  <div class="form-group">
                    <button type="Submit" class="btn btn-outline-dark btn-block">Get Weather</button>
                  </div>
                </form>
          </div>
    <!-- Content here -->
      </div>
      </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}


