{% extends "base.html" %}
{% block title %}Weather Report {{city}} {% endblock %}
{% block content %}
    <div class="container h-400">
          <div class="row justify-content-center">
              <div class="col-md-6 pt-5">
                <div class="card border-0 mb-3 p-3 shadow-sm text-center">
                    <h1 class="text-muted">Weather Report of {{city}}</h1>
                    <figure class="image is-70x70">
                        <img src="http://openweathermap.org/img/w/{{icon}}.png" alt="Image">
                    </figure>
                    <h2 class="lead text-muted"> {{sky}} </h2>
                    <h3 class="lead text-muted"> Temperature: {{temp}}° C </h3>
                    <h4 class="lead text-muted"> Humidity: {{humidity}}% </h4>
                    <h4 class="lead text-muted"> Wind Speed: {{wind_speed}} kM/Hr </h4>
                    <a class="btn btn-primary" href="/" role="button">Home Page</a>
                </div>
              </div>
          </div>
    </div>
{% endblock %}